diễm4.json
{
  "name": "Flow C - Escalation Job",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exception-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "580a2851-40f6-4341-a80a-a29d0d90cb3d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1136,
        -208
      ],
      "webhookId": "2ff5e41c-e6b3-4dc5-bb3c-8408aeed0e02"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{ String($json.body.action).trim().toLowerCase() }}",
              "value2": "assign"
            },
            {
              "value1": "={{ String($json.body.action).trim().toLowerCase() }}",
              "value2": "resolve"
            },
            {
              "value1": "={{ String($json.body.action).trim().toLowerCase() }}",
              "value2": "investigate"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "227c5092-14a2-4554-9ad6-9af3427a633a",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -784,
        -96
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.body.action === \"resolve\" ? \"resolved\" : \"open\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9432ddad-edf2-4284-a199-b541af686272",
      "name": "Map Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -544,
        -256
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "49101422-95ad-4278-afb5-05e7a54efa76",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -928,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM exceptions\nWHERE \n(\n  status = 'open' \n  AND updated_at < NOW() - INTERVAL 12 HOUR\n)\nOR\n(\n  status = 'investigating' \n  AND updated_at < NOW() - INTERVAL 24 HOUR\n);"
      },
      "id": "d1021665-edd1-421d-ae64-dd5f0ec3ea45",
      "name": "Get Overdue",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -688,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ad1e7663-2a56-47af-a66d-6e3a6bf2e196",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -448,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE exceptions\nSET status = 'escalated',\n    updated_at = NOW()\nWHERE exception_id = {{$json.exception_id}};"
      },
      "id": "e4cbb485-2ffb-44fd-80f7-0c23e4655f57",
      "name": "Update Escalated",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -176,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "alert",
              "value": "={\n  \"chat_id\": \"YOUR_ID\",\n  \"text\": \"🚨 Exception {{$json.exception_id}} escalated!\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a0b0d06-52fb-44da-a3e3-e4bc5b5ba4af",
      "name": "Alert Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        96,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO exceptions (\n    exception_id,\n    owner,\n    status,\n    updated_at\n)\nVALUES (\n    '{{$json.body.exception_id}}',\n    '{{$json.body.operator}}',\n    '{{$json.status}}',\n    NOW()\n)\nON DUPLICATE KEY UPDATE\n    owner = VALUES(owner),\n    status = VALUES(status),\n    updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -96,
        -240
      ],
      "id": "b307c62c-72ed-4e88-a639-f80611f2d7e1",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"exception_id\": \"{{$json.body.exception_id}}\",\n  \"action\": \"{{$json.body.action}}\",\n  \"status\": \"{{$json.status}}\",\n  \"owner\": \"{{$json.body.operator}}\",\n  \"updated_at\": \"{{$now}}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        -224
      ],
      "id": "1179bacd-97c6-4aa7-978b-978543bed3ff",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid input\",\n  \"required\": [\"exception_id\", \"action\", \"operator\"]\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -144,
        208
      ],
      "id": "d326b861-e814-42cd-b3c8-13e4d53f8ca9",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Map Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Status": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overdue": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Update Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Escalated": {
      "main": [
        [
          {
            "node": "Alert Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d8fddcfa-65e5-491d-8a80-5e13f1abe76d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f73bc0d98e6621473479fa3f6cc1d420584feb0ea5f21a108d64395901dcb67f"
  },
  "id": "9mF5Bi8F5iNCPSOd",
  "tags": []
}
