Flow C - Resolution & Escalation (Webhook).json
{
  "name": "Flow C - Resolution & Escalation (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exception-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        -16
      ],
      "id": "a982ad41-caa7-42dc-b18f-c65a7135d876",
      "name": "Webhook",
      "webhookId": "9bd59795-441f-4224-87f5-fefaef28a018"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "198671d0-52ed-4eee-9364-64e68f20220b",
              "name": "exception_id",
              "value": "={{$json.body.exception_id}}",
              "type": "string"
            },
            {
              "id": "5ed8d9ca-0c6f-40f6-aa84-59a17d1b3b21",
              "name": "action",
              "value": "={{$json.body.action}}",
              "type": "string"
            },
            {
              "id": "6ebae67e-9809-4403-8e81-adeb9db00d01",
              "name": "operator",
              "value": "={{$json.body.operator}}",
              "type": "string"
            },
            {
              "id": "e822098d-ffb2-4678-aa82-86df1c7e86f8",
              "name": "note",
              "value": "={{$json.body.note \n\n \"\"}}",
              "type": "string"
            },
            {
              "id": "aef6849d-b021-49d9-a68a-5b7eadf5d67d",
              "name": "updated_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -16
      ],
      "id": "5c3be8f2-2054-4989-a63f-b8a5e956f120",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ebf54a2-a527-4c5c-8f0b-c3e96c7a532e",
              "leftValue": "={{$json.exception_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9a70479c-cd58-42e6-bb0e-b275e0e741b6",
              "leftValue": "={{$json.action}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5130ca81-78c6-4a89-aa7d-d8689fc84470",
              "leftValue": "={{$json.operator}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        -16
      ],
      "id": "c0188cee-db6b-466c-bf36-7accab9a5217",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "assign",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9d69f2d4-3511-47d7-bcad-c12a806fd560"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "379648af-40d6-4199-81f6-876829fc14e0",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "mark_investigating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "739dced8-9ef9-4ba6-8c05-65ca6789c4f0",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "resolve",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        -288
      ],
      "id": "4c7ca510-017d-4083-9eea-faf6bb48a77f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE exceptions\nSET \n    owner = '{{ $json.operator }}',\n    status = 'assigned',\n    updated_at = NOW()\nWHERE exception_id = '{{ $json.exception_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        384,
        -288
      ],
      "id": "4145ee7b-3536-4ccb-817b-50993fe5a9d4",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Assigned successfully\",\n  \"exception_id\": \"{{$node['Webhook'].json['body']['exception_id']}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        -160
      ],
      "id": "10e2c2c8-8873-4ce5-b994-e49dafe8edc6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE exceptions\nSET \n    status = 'investigating',\n    note = '{{ $json.note }}',\n    updated_at = NOW()\nWHERE exception_id = '{{ $json.exception_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        400,
        -80
      ],
      "id": "182a7a44-7d9c-43ec-b24d-a783ba99159e",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE exceptions\nSET \n    status = 'resolved',\n    note = '{{ $json.note }}',\n    updated_at = NOW()\nWHERE exception_id = '{{ $json.exception_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        384,
        160
      ],
      "id": "bd5ffc77-1ec3-471a-a664-e83adcfefc00",
      "name": "Execute a SQL query2",
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        272
      ],
      "id": "04478684-8d3a-46d4-8068-c0b8000279f1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE exceptions\nSET status = 'escalated'\nWHERE \n    (status = 'open' AND created_at < NOW() - INTERVAL 12 HOUR)\n    OR\n    (status = 'investigating' AND updated_at < NOW() - INTERVAL 24 HOUR);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        656,
        -32
      ],
      "id": "55fa8f69-d56c-44f1-ad04-4863f62d3bd2",
      "name": "Execute a SQL query3",
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE exceptions\nSET status = 'escalated'\nWHERE \n    (status = 'assigned' AND created_at < NOW() - INTERVAL 12 HOUR)\n    OR\n    (status = 'investigating' AND updated_at < NOW() - INTERVAL 24 HOUR);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        48,
        272
      ],
      "id": "887df26a-58e1-48aa-bcb4-9abb0e629c5a",
      "name": "Execute a SQL query4",
      "credentials": {
        "mySql": {
          "id": "ogVXkXwstfYoMFcg",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2c5c85f7-8e30-4b21-94be-480612f6589f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f73bc0d98e6621473479fa3f6cc1d420584feb0ea5f21a108d64395901dcb67f"
  },
  "id": "jdP98YUgBEkMJlPz",
  "tags": []
}