My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6a927267-98c2-4549-a434-830e5c797bb4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M",
          "mode": "list",
          "cachedResultName": "shipment_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "06528366-e33e-4c01-b162-7367276d5c57",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xr5G10uJaBixiFHr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const expected = new Date(item.json.expected_date);\n  const current = new Date(item.json.current_date);\n\n  const diffDays = (current - expected) / (1000 * 60 * 60 * 24);\n\n  return {\n    json: {\n      ...item.json,\n      isNoUpdate: diffDays > 0\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "8d6e0dc2-4515-4c1d-933f-1c11b87dc058",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f425abdc-c72d-48c4-ae94-baf6f100f9ba",
              "leftValue": "={{$json.isNoUpdate}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "c6015e9b-9701-4d7e-9d43-adc1e39c6c0e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M",
          "mode": "list",
          "cachedResultName": "shipment_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "shipment_id": "={{$json.shipment_id}}",
            "status_update": "No Update"
          },
          "matchingColumns": [
            "shipment_id"
          ],
          "schema": [
            {
              "id": "shipment_id",
              "displayName": "shipment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expected_date",
              "displayName": "expected_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_date",
              "displayName": "current_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delay_days",
              "displayName": "delay_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "exception",
              "displayName": "exception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_update",
              "displayName": "status_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -96
      ],
      "id": "0d02c59a-82db-4c38-a36b-4cb3cee7c7e7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xr5G10uJaBixiFHr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "caa7ab5b-57c0-407a-8af5-f4a9023db5ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f73bc0d98e6621473479fa3f6cc1d420584feb0ea5f21a108d64395901dcb67f"
  },
  "id": "SnWha2W82UtOUcX2",
  "tags": []
}