My workflow(3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shipment-action",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -192
      ],
      "id": "a480b835-a847-4d4f-8dbc-39b49ed597db",
      "name": "Webhook",
      "webhookId": "b09a2322-fc93-41f0-93eb-391cb81d18a2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "79cae82c-a8b7-4ebf-a941-d84b53d6c445",
                    "leftValue": "={{$json.body.severity}}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "433133d6-e344-4887-8151-6b90b11836d9",
                    "leftValue": "={{$json.body.severity}}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cefaca47-d5c9-4683-8f58-c7d666ec6780",
                    "leftValue": "={{$json.body.severity}}",
                    "rightValue": "LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        -192
      ],
      "id": "bc62daef-23b4-4d17-ae4f-1e6452aeba80",
      "name": "Switch"
    },
    {
      "parameters": {
        "fromEmail": "nguyenvanthai0103@gmail.com",
        "toEmail": "nguyenvanthai0103@gmail.com",
        "subject": "=🚨 HIGH ALERT - {{$json.body.shipment_id}}",
        "html": "=<h2>🚨 HIGH ALERT</h2>\n<p>Shipment: {{$json.body.shipment_id}}</p>\n<p>Delay: {{$json.body.delay_days}} days</p>\n<p>Reason: {{$json.body.reason}}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        384,
        -384
      ],
      "id": "f265c63a-db57-48fe-acd8-bd38ee6ada21",
      "name": "Send an Email",
      "webhookId": "733c604d-7759-4a34-8616-d3b66c5bb116",
      "credentials": {
        "smtp": {
          "id": "5sESMetgwGlicR4J",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        -384
      ],
      "id": "8177c7fa-7384-46f9-9a38-e1c57dd2a6ef",
      "name": "Wait",
      "webhookId": "07bd87de-5e5f-40b4-a5ee-6d9fbedc652f"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8a6d24ad-0049-44a9-990f-747049dd189f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9057be9d10aeed069fb8d03b6c0883260f71f1482be8d2c1b7183e0df167852"
  },
  "id": "XUB1sRmppxTmvCwR",
  "tags": []
}