thai4.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -80
      ],
      "id": "6e5fb7b1-eee3-42d9-b6fb-99bfbf702066",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tracking_normalized;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        -64
      ],
      "id": "d700d9ca-842c-4130-94da-ba7c3a6797bc",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "j0jDie4XF726cxLV",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const eventTime = new Date(item.json.event_time);\n  const now = new Date();\n  \n  const diffHours = (now - eventTime) / (1000 * 60 * 60);\n  \n  item.json.last_update_hours = diffHours;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -64
      ],
      "id": "c61ad873-4e2d-4a56-9aa8-43393022c7ae",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "948911f1-f64b-4fcb-b1b4-4b7f20aa4c71",
              "leftValue": "={{ $json.last_update_hours }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -64
      ],
      "id": "68fd4da7-70a1-4389-b763-9ceb3d3f68b7",
      "name": "If"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "exceptions",
          "mode": "list",
          "cachedResultName": "exceptions"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "column": "tracking_number",
              "value": "={{ $json.tracking_number }}"
            },
            {
              "column": "issue_type",
              "value": "DELAY"
            },
            {
              "column": "detected_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        592,
        -160
      ],
      "id": "5762ea95-f42c-458f-84c0-ef5a4b36d825",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "j0jDie4XF726cxLV",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6bd60068-6b76-4437-b400-9bb0d40c65b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9057be9d10aeed069fb8d03b6c0883260f71f1482be8d2c1b7183e0df167852"
  },
  "id": "XUB1sRmppxTmvCwR",
  "tags": []
}
