thai.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -224
      ],
      "id": "b7dac4c1-8b89-4d05-a983-1e994a37fe0e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01fbb8e5-249d-4bb0-9796-84333ee386e2",
              "leftValue": "={{ $json.expected_date }}",
              "rightValue": "={{ $json.current_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        -128
      ],
      "id": "4c7f7ccc-1e18-43e1-a32e-f597cf1bd9b6",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M",
          "mode": "list",
          "cachedResultName": "shipment_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J5GSNpWS6AtA4MgkfTdHGYJxdlMQAivDH5tTxWCE3M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -224
      ],
      "id": "e4102b16-de37-470c-a53e-1ccf430c1148",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bMkqAwTaEVjE20bD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "nguyenvanthai0103@gmail.com",
        "toEmail": "nguyenvanthai0103@gmail.com",
        "subject": "Shipment Delay Alert",
        "html": "=<h2>Shipment Delay Alert</h2>\n\n<p><b>Shipment ID:</b> {{$json.shipment_id}}</p>\n<p><b>Status:</b> {{$json.status}}</p>\n<p><b>Expected Date:</b> {{$json.expected_date}}</p>\n<p><b>Current Date:</b> {{$json.current_date}}</p>\n\n<p style=\"color:red;\"><b>This shipment is delayed!</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        -288
      ],
      "id": "e7ae74fc-2740-4435-af3c-af5e8d700242",
      "name": "Send an Email",
      "webhookId": "42fb514e-ce39-417c-b23f-af08a7e758a5",
      "credentials": {
        "smtp": {
          "id": "5sESMetgwGlicR4J",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        -448
      ],
      "id": "4f42ee64-69c8-42c4-8003-f264dd8bb3c6",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eba6f095-c110-47f2-97f6-c35b34b8041a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9057be9d10aeed069fb8d03b6c0883260f71f1482be8d2c1b7183e0df167852"
  },
  "id": "XUB1sRmppxTmvCwR",
  "tags": []
}
